body {
  min-height: 100px;
}

.biografi {
  padding-top: 2rem;
  background-color: aqua;
}

.jumbotron {
  padding-top: 2rem;
  background-color: aqua;
}
footer {
  padding-top: 2rem;
  /* background-color: aqua; */
}

footer a:hover {
}
